<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/seo.html') %>
	<title>
		<%=notifications.length%>Chattr - Community
	</title>
	<link href="/styles/community.css" rel="stylesheet" type="text/css" />
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<%- include ('../partials/header.html') %>
		<!-- I'm so confused what is panel (I took it out but it should probably be there) -->
    <main>
      <div id="left-area">
        <div id="options-area">
          <div id="community-btn" class="option">Community</div>
          <div id="divider"></div>
          <div id="friends-btn" class="option">Friends</div>
          <div id="divider"></div>
          <div id="followers-btn" class="option">Followers</div>
          <div id="divider"></div>
          <div id="following-btn" class="option">Following</div>
        </div>
      </div>
      <div id="right-area">
        <div id="content-header">
          <h2 id="content-title">Community</h2>
          <div id="divider"></div>
        </div>
        <div id="content-container">
          <div id="empty-area">
            <div id="empty-message">There is no community yet</div>
          </div>
          
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/master.js"></script>
    <script src="/scripts/community.js"></script>
		<!-- adminpanelscript -->
  </body>
</html>