<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/seo.html') %>
	<title>
		<%=notifications.length%>Convex - Community
	</title>
	<link href="/styles/community.css" rel="stylesheet" type="text/css" />
  <link href="/styles/content.css" rel="stylesheet" type="text/css" />
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	  <%- include('../partials/header.html') %>
<!-- We used to have an administrator panel -->
    <main>
      </div>
      <div id="right-area">
        <div id="content-header">
          <div id="divider"></div>
        </div>
        <div id="content-container">
          <div id="empty-area">
          </div>
          
        </div>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/master.js"></script>
    <script src="/scripts/community.js"></script>
		<!-- adminpanelscript -->
  </body>
</html>