<!DOCTYPE html>

<html>

<head>
	<%- include('../partials/seo.html') %>

	<title>
		<%=notifications.length%>Convex - Content
	</title>
	<link href="/styles/content.css" rel="stylesheet" type="text/css" />
	<script src="/socket.io/socket.io.js">
	</script>
</head>
<%- include('../partials/header.html') %>
<body theme="<%=settings.mode%>">
	</div>
	
    <!-- panel -->
    <main>
      
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/master.js"></script>
    <script src="/scripts/content.js"></script>
    <!-- adminpanelscript -->
  </body>
</html>