<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/seo.html') %>

		<title>
			<%=notifications.length%>Convex - Content
		</title>
		<link href="/styles/content.css" rel="stylesheet" type="text/css" />
    <!-- <script src="/scripts/music.js"></script> -->
    <!-- <script src="/scripts /music2.js"></script> -->
		<script src="/socket.io/socket.io.js">
		</script>
		
		<link rel="shortcut icon" href="https://media.discordapp.net/attachments/651993623021355018/660395403908481064/cattrdarkgrey.png" type="image/png" />
		<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet" />
		<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
	</head>
	<body theme="<%=settings.mode%>">
		<%- include('../partials/header.html') %>      
    <div id="main">
      <div class="Dropdowns">
      <select id='content-type' onchange="onSelect()">
          <option>Games</option>
          <option>Music</option>
          <option>Videos</option>
          <option>Posts</option>
      </select>
			<select id='content-stats'>
				<option>Most Popular</option>
				<option>Trending</option>
				<option>New</option>
				<option>Most Original</option>
			</select>
      </div>

			<div id='content-container'></div>
			<div class="containerfloat"></div>
    </div>
    

      <div id='cards-container'></div>
		  <div class="containerfloat">
        <div class="progress" id="progress"></div>
			    <audio id="audio" src="https://www.freesound.org/data/previews/338/338825_1648170-lq.mp3"></audio>
			  	<input type="image" id="playbtn" src="https://media.discordapp.net/attachments/728653704168996866/730913406982553611/wLYpKKgKsLAFwAAAABJRU5ErkJggg.png?width=603&height=452" onclick="togglePlay()" class="togglePlay"/>
          <input type="image" id="stopbtn" src="https://media.discordapp.net/attachments/728653704168996866/730913424233463828/WAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.png?width=603&height=452" onclick="stop()" class=""/>
	  	</div>
    <link rel="stylesheet" type='text/css' href='/styles/music.css'>
    <link rel="stylesheet" type='text/css' href='/styles/master.css'>
		<script src="/scripts/content.js"></script>
		<script src="/scripts/music2.js"></script>
		<script src="/scripts/music.js"></script>
	</body>
</html>