<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/seo.html') %>
    <title>
		(<%=notifications.length%>) Chattr 
	</title>
    <link href="/styles/profile.css" rel="stylesheet" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>
	<script> 
		var important_info = {
			following : `<%-profile.following%>`,
			followers : `<%-profile.followers%>`,
			friends : `<%-profile.friends%>`,
			friendsLength : <%=profile.friends.ength%>,
			followersLength : <%=profile.followers.length%>,
			username : `<%=username%>`
		}
    </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="/scripts/master.js" defer></script>
    <script src="/scripts/profile.js" defer></script>
</head>
<body theme="<%=settings.mode%>">
  <%- include('../partials/header.html') %>
    <div id="background-styles">
      <div id="slanted-div-a"></div>
      <div id="sun"></div>
      <div id="moon"></div>
    </div>
    <!-- panel -->
    <main>
      <div id="left-area">
        <div id="name-area">
          <div id="user-picture">
            <img src="<%=profile.picture%>"></img>
          </div>
          <div id="divider"></div>
          <div id="username">
            <%=username%>
            <br>
            <%=profile.ranks%>
          </div>
        </div>
        <div id="description-area">
          <h2 id="description-area-title">Description</h2>
          <div id="divider"></div>
          <p><%=profile.bio%></p>
          <div id="social-media-container">
            <ul id="social-links">
              <%=profile.social%>
            </ul>
          </div>
        </div>
        <div id="content-area">
          <h2 id="content-area-title"><%=username%>'s content</h2>
          <div id="divider"></div>
          <div id="empty-area">
            <h2 id="empty-message"><%=username%> hasn't started creating content yet.</h2>
          </div>
        </div>
      </div>
      <div id="right-area">
        <div id="connect-options-area">
          <h2 id="connect-options-title">Connect with <%=username%></h2>
          <div id="divider"></div>
          <div id="option">
            <h2>Add Friend</h2>
          </div>
          <div id="option">
            <h2>Follow</h2>
          </div>
          <div id="option">
            <h2>Block</h2>
          </div>
        </div>
        <div id="profile-info-area">
          <div id="profile-info-options">
            <div id="option1" class="option">Friends (<%=profile.friends.length%>)</div>
            <div id="option2" class="option">Followers (<%=profile.followers.length%>)</div>
            <div id="option3" class="option">Following (<%=profile.following.length%>)</div>
          </div>
          <div id="profile-info-display">
            
          </div>
        </div>
      </div>
    </main>
	<%- include('../partials/footer.html')  %>    
</body>
</html>