<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/seo.html') %>
    <title><%=notifications.length%>Convex - Settings</title>
    <link href="/styles/settings.css" rel="stylesheet" type="text/css"/>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body theme="<%=settings.mode%>">
    <%- include('../partials/header.html') %>
    <!-- panel -->
    <main>
      <div id="left-area">
        <div id="options-area">
          <div id="account" class="option">Account</div>
          <div id="divider"></div>
          <div id="billing-payments" class="option">Billing/Payments</div>
          <div id="divider"></div>
          <div id="security-login" class="option">Security and login</div>
          <div id="divider"></div>
          <div id="privacy" class="option">Privacy</div>
          <div id="divider"></div>
          <div id="blocking" class="option">Blocking</div>
          <div id="divider"></div>
          <div id="notifications" class="option">Notifications</div>
          <div id="divider"></div>
          <div id="theme" class="option">Theme</div>
        </div>
      </div>
      <div id="right-area">
        <div id="content-header">
          <div id="divider"></div>
          <h2 id="content-title">Account</h2>
          <div id="divider"></div>
        </div>
        <div id="content-container">
          <div id="empty-area">
            <div id="empty-message">Loading...</div>
          </div>
        </div>
      </div>
    </main>
    <script> 
      var userinfo = {
        name: '<%=username%>',
        email: '<%=email%>',
        notifications: '<%=notifications%>',
        bio: '<%=profile.bio%>',
        profile_picture: '<%=profile.picture%>',
        dt: '<%=settings.mode%>'
      }

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/scripts/master.js"></script>
    <script src="/scripts/settings.js"></script>
    <!-- adminpanelscript -->
</body>
</html>