main {
	display: flex;
	flex-direction: row;
	position: relative;
	top: 3em;
	height: 90%;
}

/* DARK THEME */
body[theme="dark"] #options-area {
	background: #555555
}
#search {
	position: fixed;
	top: 3.4em;
	height: 4em;
	width: 100%;
	display: flex;
	user-select: none;
	justify-content: left;
	align-content: center;
}
#search * {
	margin: 0 1em;
	height: 3.5em;
	border-radius: 15px;
}

#content-type{
	border: 1px solid silver;
	border-radius: var(--radius);
	outline: none;
	font-size: 1.1em;
	padding: 0.5em 1em;
	flex: 0 0 calc(100% / 7);
	color: grey;
	transition: border-color 0.3s ease,
	color 0.3s ease;
}
#content-stats{
	border: 1px solid silver;
	border-radius: var(--radius);
	outline: none;
	font-size: 1.1em;
	padding: 0.5em 1em;
	flex: 0 0 calc(100% / 7);
	color: grey;
	transition: border-color 0.3s ease,
	color 0.3s ease;

}
#search select {
	padding: 1rem;
	font-size: 1em;
	height: 3.3em;
}
#search input {
	text-align: center;
	font-size: 1.5em;
}
