:root {
	--background-primary: #a5c2d491;
	--background: whitesmoke;
	--dark-primary: #037bc0;
	--light-primary: #00a3ee;
	--radius: 3px;
	--navbar-background: rgb(190, 190, 190);
}

#left-area {
  border-radius: 1px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  height: 35em;
  width: 20em;
  left: 1em;
  background: transparent;
}

#options-area {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 100vh;
  background: #B9B9B9;
  border-style: solid;
  border-color: var(--light-primary);
  border-width: 1px;
}
.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
  font-size: 1em;
  overflow: visible;
  cursor: pointer;
  background-position: 0% 0%;
  background-size: 210%;
  transition: 0.5s;
  color: #ffffff;
}

.option:hover {
  color: rgb(0, 0, 0);
  background-position: 0 100%;
  border-width: 3px;
  border-color: #2196F3;
}
#leftButton{
  border-bottom: 5px;
}


#comingSoon{
  width: 30%;
  margin-left: 15em;
}