:root {
	--background-primary: #a5c2d491;
	--background: rgb(248, 246, 246);
	--dark-primary: #037bc0;
	--light-primary: #18aaee;
  --navbar-background: rgb(190, 190, 190);
}
@font-face {
	font-family: Azonix;
	src: url("../Azonix.woff");
}

html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: Ubuntu;
	background: var(--background);
}
*, *::before, *::after {
	box-sizing: inherit;
}

#search-results {
	position: absolute;
	top: -60vh;
	right: 9.7vw;
	width: 33vw;
	height: 15em;
	border-radius: 5px;
	overflow: scroll;
	overflow-x: hidden;
	z-index: 50 !important;
	background: #B9B9B9;
	box-shadow: 2px 2px 5px 1px rgba(168,168,168,1);
}

#load-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.8em !important;
  cursor: pointer;
  transition: 0.1s;
  overflow: hidden;
  background: transparent;
}

#search-results > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 4.2em;
  cursor: pointer;
  transition: 0.1s;
  overflow: hidden;
  background: transparent;
}

#search-results > div:hover {
  background: rgba(248, 248, 248, 0.274)
}

#search-results > div > #user-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  margin: 1%;
  overflow: hidden;
  border: 2px solid rgb(235, 235, 235);
  background: transparent;
}

#search-results > div > #user-picture > img {
  height: 100%;
  background: transparent;
}

#search-results > div > #username {
  margin: 1%;
  font-size: 1.5em;
  overflow: hidden;
  background: transparent;
}

#search-results > div#empty-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: unset;
  height: 100%;
  font-size: 1.1em;
  justify-self: center;
  align-self: center;
  color: #55555555;
}

#search-results > div#empty-area:hover {
  background: transparent;
} 

#extra-options-area {
  position: absolute;
  top: -40em;
  right: .7vw;
  width: 13vw;
  min-height: 5em;
  border-radius: 2px;
  z-index: 50;
  background: #B9B9B9;
  box-shadow: 2px 2px 5px 1px rgba(168,168,168,1);
}

#extra-options-area > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  cursor: pointer;
  overflow: visible;
  background: transparent;
}

#extra-options-area > div > p {
  font-size: 1em;
  background: transparent;
}

#extra-options-area > div:hover {
  transform: scale(1.08)
}

/* SCROLL BAR */

::-webkit-scrollbar {
	width: 0.3em;
	background: transparent;
}
::-webkit-scrollbar-track {
	background: #eee; 
	width: 0.3em;
}
::-webkit-scrollbar-thumb {
  	border-radius: 50px;
	color: #555;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(34, 34, 34); 
	transition: 0.3s;
}


/* NOTIFICATIONS AREA */

#notifications-area {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden; 
  top: -100em;
  right: .7vw;
  width: 80vw;
  height: 18em;
  border-radius: 2px;
  z-index: 10;
  background: #B9B9B9;
  box-shadow: 2px 2px 5px 1px rgba(168,168,168,1);
}

#notifications-area > div > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration-line: none;
  height: 4.2em;
  width: 100%;
  cursor: pointer;
  backface-visibility: hidden;
  background: transparent;
}

#notifications-area > div > a:hover {
  background: #fffdfd2c;
}

#notifications-area > div > a > div#user-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.2em;
  height: 3.2em;
  margin: 0 5px;
  border-radius: 50%;
  border: 2px solid rgb(235, 235, 235);
  overflow: hidden;
  background: transparent;
}

#notifications-area > div > a > div#user-picture > img {
  height: 100%;
  background: transparent;
}

#notifications-area > div > a > #user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  flex: 1;
  background: transparent;
}

#notifications-area > div > a p {
  margin: 0 5px;
  color: #262626;
  background: transparent;
}

#notifications-area > div > a a {
  font-weight: bold;
  font-style: italic;
  text-decoration-line: none;
  color: #262626;
  background: transparent;
}

#notifications-area > div > a > div > p#date, #options-container > p#date {
  font-size: .8em;
  margin: 0 5px;
  color: #262626b9;
  background: transparent;
}

#notification-flex-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background: transparent;
}

#options-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  background: transparent;
}

#options-container > div.option-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
  background: transparent;
}

#options-container > div > div.option-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end !important;
  font-size: 1em;
  width: 3.7em;
  height: 1.7em;
  margin: .2em;
  border-radius: 5px;
  color: #E5E5E5;
  cursor: pointer;
}
#home-button{
  position: relative;
  left: -1em;

  width: 8em;
}

#reject-button {
  background: #b10000;
}

#accept-button {
  background: #50b100;
}

@keyframes tweenXflip {
  from{visibility: hidden; transform: rotateX(0deg)}
  to{visibility: visible; transform: rotateX(180deg)}
}

@keyframes tweenXsize {
  from{visibility: hidden; height: unset}
  to{visibility: visible; height: 0;}
}

/* DARK THEME */

body[theme="dark"] {
  background: rgb(54, 54, 54)
}

body[theme="dark"] * {
  color: #bbbbbb !important;
}

body[theme="dark"] > #nav-bar {
  background: rgb(77, 76, 76);
  box-shadow: 0px 2px 5px 1px var(--light-primary);
}

body[theme="dark"] > #background-styles > #slanted-div-a {
  background:  #324c6191;
}

body[theme="dark"] #search-bar {
  border: 1.1px solid rgb(179, 179, 179);
}

body[theme="dark"] #divider {
  background: var(--light-primary) !important;
  box-shadow: 0px 2px 5px 1px var(--light-primary) !important;
}

body[theme="dark"] #home-button, body[theme="dark"] #notification-bell {
  filter: invert(1);
}

body[theme="dark"] #notifications-area {
  background: rgb(77, 76, 76);
  box-shadow: 0px 2px 5px 1px var(--light-primary);
}

body[theme="dark"] footer {
  background: rgb(77, 76, 76);
}

body[theme="dark"] #extra-options-area {
  background: rgb(77, 76, 76);
}

body[theme="dark"] #search-results {
  background: rgb(77, 76, 76);
}


body[theme="dark"] ullia.fa {
  color: var(--light-primary) !important;
}


header {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em 1em;
	background: #d3d3d3;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
header img {
	height: 3em;
	width: 3em;
	user-select: none;
}
header input {
	border: 1px solid silver;
	border-radius: var(--radius);
	outline: none;
	font-size: 1.1em;
	padding: 0.5em 1em;
	flex: 0 0 calc(100% / 3);
	color: grey;
	transition: border-color 0.3s ease,
	color 0.3s ease;
}
header input:focus {
	border-color: var(--light-primary);
	color: #000;	
}
#expand {
	height: 2.5em;
	width: 2.5em;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 100%;
}
aside {
	position: fixed;
	top: 0;
	left: calc(-15em - 2px);
	bottom: 0;
	z-index: 2;
	width: 15em;
	border-right: 1px solid gainsboro;
	padding: 1em;
	background: #fff;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	transition: left 0.3s ease;
}
aside nav {
	display: flex;
	flex-direction: column;	
}
aside a,
aside button {
	text-decoration: none;
	cursor: pointer;
	outline: none;
	padding: 0.5em 0;
	font-size: 100%;
	color: black;
}
aside nav a {
	border-left: 0.3em solid transparent;
	transition: border-left 0.3s ease,
				padding-left 0.3s ease;
}
aside nav a:hover {
	padding-left: 1em;
	border-left: 0.3em solid var(--light-primary);
}
#logout {
	margin: 0.5em 0;
	transition: background 0.3s ease;
	border: 2px solid red;
	background: red;
	width: 100%;
	border-radius: var(--radius);
	color: #fff;
}
#logout:hover {
	background: rgb(200, 0, 0);
}
aside #notification-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#notification-bell {
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	cursor: pointer;
	object-fit: contain;
}
aside div > a, 
aside div > a:visited {
	color: grey;
	margin: 0 2px 0 0;
	font-size: 0.85em;
	cursor: pointer;
	text-decoration: none;
}
aside div > a:hover {
	text-decoration: underline;
}
@media only screen and (max-width: 768px) {
	header input {
		display: none;
	}
}
:root {
	--background-primary: #a5c2d491;
	--background: whitesmoke;
	--dark-primary: #037bc0;
	--light-primary: #00a3ee;
	--radius: 3px;
	--navbar-background: rgb(190, 190, 190);
}
@font-face {
	font-family: Azonix;
	src: url("../Azonix.woff");
}
html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: Ubuntu;
	background: var(--background);
}
*, *::before, *::after {
	box-sizing: inherit;
}