body {
	text-align: center;
	color: #555555;
}

/*text styles*/
#title {
  text-indent: 8%;
  width: 100%;
}
#text-area {
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
  width: 80%;
}
#title {
  text-align: left;
  text-indent: 40%;
  font-size: 1.8em;
}
.sub-title {
  width: 100%;
  text-align: left;
  text-indent: 5%;
  font-size: 1.5em;
}
.indented-sub-title {
  width: 100%;
  text-align: left;
  text-indent: 5%;
  font-size: 1.5em;
  margin-top: 2vh 0;
}
p {
  width: 90%;
  text-align: left;
  text-indent: 4%;
  font-size: 1.2em;
  margin-top: 2vh 0;
}
li {
  width: 90%;
  text-align: left;
  text-indent: 5%;
  font-size: 1.2em;
  margin-top: 1vh 0;
}

/* DARK THEME */
body[theme="dark"] #options-area {
  background: #555555
}