p, h2 {
  background: transparent;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 34em;
  height: 19em;
  border-radius: 5px;
  z-index: 50;
  background: rgb(185, 185, 185);
  box-shadow: 0px 2px 5px 1px rgba(168,168,168,1);
}

.welcome-box .title {
  margin-top: .31em;
  width: 100%;
  height: fit-content;
  font-size: 1.9em;
}

.title[font-size="small"] {
  font-size: 1.4em;
}

.welcome-box > .title#center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 5%;
  width: 90%;
  height: 100%;
  font-size: 1.9em;
}

.circle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 34em;
  margin-top: 1.1em;
  height: fit-content;
  background: transparent;
}

.circle-container > .circle {
  border-radius: 50%;
  border: 1.45px solid black;
  margin: 0 .2em;
  width: .8em;
  height: .8em;
  background: transparent;
}

.row-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: fit-content;
  background: transparent;
}

.arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  margin: 0 1em;
  border: solid .05em black;
  border-radius: 50%;
  z-index: 50;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}

.arrow > .drawing-right {
  background: transparent;
  border: none;
  border-right: solid .05em black;
  border-top: solid .05em black; 
  transform: rotate(45deg);
  height: 1.1em;
  width: 1.1em;
  margin-right: .5em;
}

.arrow > .drawing-left {
  background: transparent;
  border: none;
  border-left: solid .05em black;
  border-bottom: solid .05em black;
  transform: rotate(45deg);
  height: 1.1em;
  width: 1.1em;
  margin-left: .5em;
}

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: transparent;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  background: transparent;
}

.column-container > .profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7em;
  height: 7em;
  margin-bottom: 1em;
  border-radius: 50%;
  cursor: pointer;
  border: 1.5px solid white;
  background: transparent;
}

.profile-picture > img {
  width: 100%;
  background: transparent;
}

.user-description {
  width: 90%;
  height: 10em;
  outline: none;
  text-align: left;
  padding-top: .5em;
  padding-left: .5em;
  padding-right: .5em;
  font-size: 1em;
  border-radius: 8px;
  border: 1.25px solid black;
  background: transparent; 
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  color: rgb(145, 145, 145);
}
body[theme="dark"] {
  background: rgb(54, 54, 54);
  transition: 1s;
}

body[theme="dark"] * {
  color: #bbbbbb !important;
}

body[theme="dark"] > #nav-bar {
  background: rgb(77, 76, 76);
  box-shadow: 0px 2px 5px 1px transparent;
  transition: 1s;
}

body[theme="dark"] > #background-styles > #slanted-div-a {
  transition: 1s;
  background:  #324c6191;
}

body[theme="dark"] header input:focus {
  transition: 0.5s;
	border-color: var(--light-primary);
}

body[theme="dark"] #search-bar {
  transition: 1s;
  border: 1.1px solid rgb(179, 179, 179);
}

body[theme="dark"] #divider {
  transition: 1s;
  background: transparent;
  box-shadow: transparent !important;
}

body[theme="dark"] #home-button, body[theme="dark"] 
#notification-bell {
  transition: 1s;
  filter: invert(1);
}

body[theme="dark"] #notifications-area {
  transition: 1s;
  background: rgb(77, 76, 76);
  box-shadow: 0px 2px 5px 1px var(--light-primary);
}

body[theme="dark"] footer {
  transition: 1s;
  background: rgb(77, 76, 76);
}

body[theme="dark"] header {
  transition: 1s;
  background: rgb(77, 76, 76);
}

body[theme="dark"] #extra-options-area {
  background: rgb(77, 76, 76);
  transition: 1s;
}

body[theme="dark"] #search-results {
  background: rgb(77, 76, 76);
  transition: 1s;
}

body[theme="dark"] ullia.fa {
  color: rgb(0, 0, 0) !important;
  transition: 1s;
}

body[theme="dark"] .dorito{
  background:rgb(66, 64, 64);
}

body[theme="dark"] .round {
  background: black;
  border-radius: 30px;
  border-color: rgb(255, 255, 255);
  border-width: 3px;
}