<footer>
	<div>
		<a href="https://www.facebook.com/Chattr-104877997703675/?modal=admin_todo_tour" target="_blank"><i class="fab fa-facebook-f"></i></a>
	</div>
	<div>
		<a href="https://twitter.com/OfficialChattr" target="_blank"><i class="fab fa-twitter"></i></a>
	</div>
	<div>
		<a href="https://discord.gg/fapF2w5" target="_blank"><i class="fab fa-discord"></i></a>
	</div>
	<div>
		<a href="https://www.youtube.com/channel/UCSEQ9hf8MjycKf32XXB5LgQ/featured?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
	</div>
	<div>
		<a href="https://www.instagram.com/chattrofficial/" target="_blank"><i class="fab fa-instagram"></i></a>
	</div>
</footer>