<div id="nav-bar">
  <!-- Change src below to new link for image-->
		<img id="home-button" src="">
		<div id="divider"></div>

		<a id="profile" href="/profile">Profile</a>
		<div id="divider"></div>
		<a id="community" href="/community">Community</a>
		<div id="divider"></div>
		<a id="chat" href="/chat">Chat</a>
		<div id="divider"></div>
		<a id="content" href="/content">Content</a>
		<div id="divider"></div>
		<input id="search-bar" type="text" placeholder="Search">
		<img id="notification-bell" src="https://media.discordapp.net/attachments/651993623021355018/668679210642046976/unknown.png?width=300&height=300">
		<a id="extra-options">|||</a>
    </div>
    <div id="extra-options-area">
      <div id="settings">
        <p>Settings</p>
      </div>
      <div id="purchase">
        <p>Pricing</p>
      </div>
      <div id="Logout">
        <p>Logout</p>
      </div>
    </div>
    <div id="notifications-area">
      <div id="notification-flex-container">
      </div>
    </div>
    <div id="search-results"></div>