<header>
	<button id="expand" class="specialtyBar"><img src="https://media.discordapp.net/attachments/728612508117631018/733177504545636352/Unknown-removebg-preview.png" alt="bartok" class="specialtyImage"></button>
	<input class="round" placeholder="Search Convex..." autocomplete="off"/>
	<a href="/"><img id="logo" src="https://cdn.discordapp.com/attachments/728693902047182990/730471425353187338/lens.png" /></a>
</header>
<aside class="dorito">
   <div id="nav-bar">
		<div id="notification-wrapper">
			<h1>Convex</h1>
			<img id="notification-bell" src="https://media.discordapp.net/attachments/651993623021355018/668679210642046976/unknown.png?width=300&height=300" title="notifications"/>
		</div>
		<nav> 
			<a href="/content">Content</a>
			<a href="/chat">Chat</a>
			<a href="/settings">Settings</a>
		</nav>
	</div>
	<div>
		<a href="/logout"><button id="logout" >Logout</button></a>
    <div class="bottomLinks">
      <a>Discord</a>
      <a>Join us</a>
      <a>Blog</a>
    </div>
	</div>
</aside>