<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="https://media.discordapp.net/attachments/651993623021355018/660395403908481064/cattrdarkgrey.png" type="image/png" />
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
<link href="/styles/master.css" rel="stylesheet" type="text/css" />
<script src="/scripts/alert.js" defer></script>